@import '../../shared/fonts/montserrat/stylesheet.css';
@import '../../shared/fonts/gdqpixel/stylesheet.css';

body {
	margin: 0;
	opacity: 0;
	--gdq-primary-color: #00FFFF;
}

#container {
	position: absolute;
	overflow: hidden;
}
