@import 'base.css';

body {
	font-family: 'Source Code Pro';
}

#container {
	position: relative;
}

#container,
#measuring-background {
	width: 1920px;
	height: 1025px;
}

#container > #background,
#container > #foreground,
#container > #addon {
	position: absolute;
	top: 0;
	left: 0;
}

#container > #background {
	z-index: -10;
}

#container > #foreground {
	pointer-events: none;
	z-index: 10;
}

#container > #addon {
	pointer-events: none;
	z-index: -11;
}

/*
For use in gathering viewport metrics.
Dump this javascript into your console to make the measuring div appear:

const measuringDiv = document.createElement('div');
measuringDiv.id = 'measuring';
measuringDiv.style.left = '0px';
measuringDiv.style.top = '0px';
measuringDiv.style.width = '200px';
measuringDiv.style.height = '150px';
document.body.appendChild(measuringDiv);

const measuringBackground = document.createElement('div');
measuringBackground.id = 'measuring-background';
document.body.appendChild(measuringBackground);
 */
#measuring {
	position: absolute;
	background-color: #464646;
	z-index: -100;
}

#measuring-background {
	background-color: red;
	left: 0;
	position: absolute;
	top: 0;
	z-index: -101;
}
