@font-face{
    font-family: 'Source Code Pro';
    font-weight: 200;
    font-style: normal;
    font-stretch: normal;
    src: url('SourceCodePro-ExtraLight.ttf.woff2') format('woff2');
}

@font-face{
    font-family: 'Source Code Pro';
    font-weight: 200;
    font-style: italic;
    font-stretch: normal;
    src: url('SourceCodePro-ExtraLightIt.ttf.woff2') format('woff2');
}

@font-face{
    font-family: 'Source Code Pro';
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    src: url('SourceCodePro-Light.ttf.woff2') format('woff2');
}

@font-face{
    font-family: 'Source Code Pro';
    font-weight: 300;
    font-style: italic;
    font-stretch: normal;
    src: url('SourceCodePro-LightIt.ttf.woff2') format('woff2');
}

@font-face{
    font-family: 'Source Code Pro';
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    src: url('SourceCodePro-Regular.ttf.woff2') format('woff2');
}

@font-face{
    font-family: 'Source Code Pro';
    font-weight: 400;
    font-style: italic;
    font-stretch: normal;
    src: url('SourceCodePro-It.ttf.woff2') format('woff2');
}

@font-face{
    font-family: 'Source Code Pro';
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    src: url('SourceCodePro-Medium.ttf.woff2') format('woff2');
}

@font-face{
    font-family: 'Source Code Pro';
    font-weight: 500;
    font-style: italic;
    font-stretch: normal;
    src: url('SourceCodePro-MediumIt.ttf.woff2') format('woff2');
}

@font-face{
    font-family: 'Source Code Pro';
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    src: url('SourceCodePro-Semibold.ttf.woff2') format('woff2');
}

@font-face{
    font-family: 'Source Code Pro';
    font-weight: 600;
    font-style: italic;
    font-stretch: normal;
    src: url('SourceCodePro-SemiboldIt.ttf.woff2') format('woff2');
}

@font-face{
    font-family: 'Source Code Pro';
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    src: url('SourceCodePro-Bold.ttf.woff2') format('woff2');
}

@font-face{
    font-family: 'Source Code Pro';
    font-weight: 700;
    font-style: italic;
    font-stretch: normal;
    src: url('SourceCodePro-BoldIt.ttf.woff2') format('woff2');
}

@font-face{
    font-family: 'Source Code Pro';
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    src: url('SourceCodePro-Black.ttf.woff2') format('woff2');
}

@font-face{
    font-family: 'Source Code Pro';
    font-weight: 900;
    font-style: italic;
    font-stretch: normal;
    src: url('SourceCodePro-BlackIt.ttf.woff2') format('woff2');
}
